<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- Mapeando servlets con XML -->
	<!--<servlets>
		<servlets-name>AnotacionServlet</servlets-name>
		<servlets-class>com.uca.capas.servlets.AnotacionServlet</servlets-class>
	</servlets>
	<servlet-mapping>
		<servlet-name>AnotacionServlet</servlet-name>
		<url-pattern>/AnotacionServlet</url-pattern>
	</servlet-mapping>-->
</web-app>